.back{
    color: rgb(19, 178, 241);
    
}
.nav-link:hover{
    color: rgb(43, 41, 41) !important;
}
.navbar{
    background-color: honeydew;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}
ul{
    margin-left: auto;
}

.nav-link b{
    background-color: rgb(19, 178, 241);
    color: white;
    border-radius: 50px;
    padding: 0px 12px 0px 12px;
    font-size: 1.2em;
    margin: 5px;
}
.nav-link:hover{
    background-color: rgb(19, 178, 241);
    /* border: 1px solid rgb(212, 212, 212); */
    border-radius: 50px;
    padding: 0px 12px 0px 12px;
    font-size: 1.2em;
    margin: 5px;
    box-shadow: 2px 2px 5px gray;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(19, 178, 241);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: honeydew;
    margin-bottom: 0px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
img{
    width: 100%;
}
.footer, .footer-copyright{
    color: honeydew;
    text-decoration: none;
}
.footer:hover{
    color: black;
}
.pop{
    border-radius: 1000px;
}
a img{
    width: 200px !important;
    height: 50px;
}
.blog{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#blog{
    font-size: 1.8em;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
h4{
    color: rgba(37, 121, 255, 0.986);
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    
    display:flex;
    flex-direction: row !important;
    /* justify-content: space-around !important; */ 
    padding: 50px;
}
@media only screen and (max-width: 580px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }

}
iframe{
    width: 100%;
    border-radius: 10px;
}
#contact{
    text-decoration: underline;
    font-size: 2em;
    margin-left: 30px;
    font-weight: bold;
    font-style: italic;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
@media only screen and (max-width: 580px ) {
    #contact{
        text-align: center;
    }
}
.ias{
    text-align: justify;
    padding: 10px;
    font-size: 1.2em;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog1{
    border: 2px dotted rgba(37, 121, 255, 0.986);
    border-radius: 10px;
    box-shadow: 7px 7px 25px gray;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    display: inline-block;
    padding: 20px;
    width: 100%;
}
.image{
    display: flex;
    flex-wrap: wrap;
}
.image1{
    display: inline-flex;
    min-width: 250px;
    max-width: 400px !important;
    border-radius: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.image1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.fb-ic , .tw-ic, .gplus-ic, .li-ic, .ins-ic{
    font-size: 25px; 
    color: white !important;
}
.mb-0{
    color: white;
    font-size: 25px;
}
.page-footer{
    background-color: rgb(41, 41, 41);

}
p a{
    color: white;
}
.last{
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 100px;
    height: 80px;
    opacity: 0.5;
}
.last:hover{
    opacity: 1;
}

.fa-facebook-f:hover , .fa-google-plus:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-instagram:hover {
    background-color: rgba(37, 121, 255, 0.986);
    padding: 10px;
    border-radius: 50px;
}

@media only screen and (max-width: 580px) {
    .last{
        position: fixed;
        bottom: 20px;
        right: 20px;
        max-width: 60px;
        height: 40px;
    }
}